/* ========= THEME VARIABLES & COUNTERS ========= */
@property --spin {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@counter-style space-counter {
	system: cyclic;
	symbols: 🚀 🛰️ 🔭 🪐;
	suffix: " ";
}
/* ========= GLOBAL LAYOUT & NAVIGATION ========= */
body {
	--spin: 0deg;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: conic-gradient(from calc(100deg + var(--spin)) at 0 0, red, blue, black, red);
	animation: background 30s linear infinite;
	padding: 0;
	margin: 0;
}

header {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	flex-wrap: wrap;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	flex-wrap: wrap;
}

main {
	width: 80vw;
	/* margin-left: 10vw; */
	/* margin-right: 10vw; */
}

/* ========= HERO SECTION ========= */

#hero {
	background-color: rgba(51, 255, 0, 0.486);
	/* background: conic-gradient(from 1.5turn at 31.5% 30%, red, blue, green); */
	padding: 2rem;
	border: solid transparent;
	border-radius: 5rem;
	margin: 3rem;
}

#hero header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#hero-figure {
	display: flex;
	justify-content: center;
}

#hero-figure img {
	/* flex: 1; */
	border: solid 5px red;
	border-radius: 105rem;
	width: 50%;
}

#hero-header-text {
	display: flex;
	flex-direction: column;
	/* flex: 2; */
	align-items: center;
}

#hero-header-text h1,
.brand {
	font-size: 80px;
	background: linear-gradient(90deg, red 10%, blue, black 90%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
	text-align: center;
}

.tagline {
	font-size: 20px;
	font-weight: bolder;
	font-style: italic;
}

#hero-body {
	margin: 0 6rem;
}

#hero-body p {
	font-size: 22px;
}

#hero footer {
	display: flex;
	justify-content: center;
	gap: 60px;
}

/* ========= CTA BUTTONS ========= */

#hero-view-work-button,
.btn {
	--border: navy;
	--spin: 0deg;

	padding: 2rem 4rem;
	border: 2px solid var(--border);
	border-radius: 3rem;
	font-size: 1.3rem;

	background: conic-gradient(
		from calc(100deg + var(--spin)) at 0 0,
		#ff3b3b 0%,
		#09ff00 10%,
		#5900ff 20%,
		#5cff00 30%,
		#ff0000 40%,
		#0099ff 50%,
		#5cff3b 60%,
		#c200ff 70%,
		#fbff00 80%,
		#ff3b3b 100%
	);

	animation: button_rainbow 20s linear infinite;
}
#hero-contact-me-button {
	--border: navy;
	--spin: 0deg;

	padding: 2rem 4rem;
	border: 2px solid var(--border);
	border-radius: 3rem;
	font-size: 1.3rem;

	background: conic-gradient(
		from calc(100deg + var(--spin)) at 100% 100%,
		#ff3b3b 0%,
		#09ff00 10%,
		#5900ff 20%,
		#5cff00 30%,
		#ff0000 40%,
		#0099ff 50%,
		#5cff3b 60%,
		#c200ff 70%,
		#fbff00 80%,
		#ff3b3b 100%
	);

	animation: button_rainbow 20s linear infinite;
}

/* ========= FEATURED PROJECTS ========= */

#featured-projects {
	background-color: aqua;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	height: fit-content;
	text-align: center;
}

#featured-projects-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#featured-projects-header p {
	margin: 0;
}

#featured-projects-cards {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	flex-wrap: wrap;
}

.featured-projects-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #5900ff;
	width: 30%;
	/* height: 60vh; */
}

.featured-projects-card img {
	width: 100%;
}

.card-h3 {
	font-size: 40px;
	margin: 0;
	color: #ff0000;
}

.featured-projects-card p {
	font-size: 22px;
	padding: 20px 40px;
}

#featured-projects footer {
	height: 6rem;
	display: flex;
	align-items: center;
	padding: 2rem;
}

/* ========= SKILLS OVERVIEW ========= */

#skills-overview {
	background-color: brown;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	align-items: center;
}

#skills-overview-header {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-top: 1rem;
	align-items: center;
}

#skills-overview-header-h2,
#skills-overview-header-p {
	margin: 0;
}

#skills-overview-body-skillList {
	display: flex;
	align-items: center;
	gap: 3rem;
	list-style-type: space-counter;
	flex-wrap: wrap;
}

/* ========= GLOBAL FOOTER ========= */
#page-footer {
	--spin: 0deg;
	display: flex;
	background-color: black;
	color: white;
	margin-top: 2rem;
	padding: 2rem 0;
	justify-content: center;
	width: 100%;

	background: conic-gradient(
		from calc(95deg + var(--spin)) at 100% 100%,
		#550b0b 0%,
		#330342 10%,
		#26232b 20%,
		#0b0c49 30%,
		#000000 40%,
		#000000 50%,
		#2203aa 60%,
		#8200aa 70%,
		#000000 80%,
		#ff3b3b 100%
	);
}

#page-footer div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.brand {
	margin: 0;
	text-align: center;
}

#page-footer div .tagline {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	text-align: center;
}

#page-footer div nav {
	display: flex;
	gap: 2rem;
}

/* ========= RESPONSIVE TWEAKS ========= */
@media only screen and (max-width: 1200px) {
	header nav ul {
		gap: 2rem;
	}

	header nav ul .btn {
		padding: 0;
		border: none;
		/* border-radius: 3rem; */
		font-size: 1.3rem;
		background: none;
	}

	#page-footer {
		width: 100%;
	}
}

@media only screen and (max-width: 964px) {
	main {
		width: 95vw;
	}

	#featured-projects-cards {
		flex-direction: column;
		/* background-color: #000000; */
		align-items: center;
	}

	.card {
		width: 100%;
	}
}

@media only screen and (max-width: 720px) {
	#hero-body {
		margin: 2rem;
	}

	#hero-view-work-button, #hero-contact-me-button {
		background: none;
		border: none;

	}
}

/* ========= ANIMATION KEYFRAMES ========= */
@keyframes background {
	to {
		--spin: 360deg;
	}
}
@keyframes button_rainbow {
	to {
		--spin: 360deg;
	}
}
