@property --spin {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

body {
	--spin: 0deg;
	display: flex;
	flex-direction: column;
	background: conic-gradient(from calc(100deg + var(--spin)) at 0 0, red, blue, black, red);
	animation: background 30s linear infinite;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;
}

main {
	width: 80vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

#hero {
	background-color: rgba(51, 255, 0, 0.486);
	/* background: conic-gradient(from 1.5turn at 31.5% 30%, red, blue, green); */
	padding: 2rem;
	border: solid transparent;
	border-radius: 5rem;
	margin: 3rem;
}

#hero header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#hero-figure img {
	/* flex: 1; */
	border: solid 5px red;
	border-radius: 105rem;
}

#hero-header-text {
	display: flex;
	flex-direction: column;
	/* flex: 2; */
	align-items: center;
}

#hero-header-text h1 {
	font-size: 80px;
	background: linear-gradient(90deg, red 10%, blue, black 90%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.tagline {
	font-size: 20px;
	font-weight: bolder;
	font-style: italic;
}

#hero-body {
	margin: 0 6rem;
}

#hero-body p {
	font-size: 22px;
}

#hero footer {
	display: flex;
	justify-content: center;
	gap: 60px;
}

#hero-view-work-button {
	--border: navy;
	--spin: 0deg;

	padding: 2rem 4rem;
	border: 2px solid var(--border);
	border-radius: 3rem;
	font-size: 1.3rem;

	background: conic-gradient(
		from calc(100deg + var(--spin)) at 0 0,
		#ff3b3b 0%,
		#09ff00 10%,
		#5900ff 20%,
		#5cff00 30%,
		#ff0000 40%,
		#0099ff 50%,
		#5cff3b 60%,
		#c200ff 70%,
		#fbff00 80%,
		#ff3b3b 100%
	);

	animation: button_rainbow 20s linear infinite;
}
#hero-contact-me-button {
	--border: navy;
	--spin: 0deg;

	padding: 2rem 4rem;
	border: 2px solid var(--border);
	border-radius: 3rem;
	font-size: 1.3rem;

	background: conic-gradient(
		from calc(100deg + var(--spin)) at 100% 100%,
		#ff3b3b 0%,
		#09ff00 10%,
		#5900ff 20%,
		#5cff00 30%,
		#ff0000 40%,
		#0099ff 50%,
		#5cff3b 60%,
		#c200ff 70%,
		#fbff00 80%,
		#ff3b3b 100%
	);

	animation: button_rainbow 20s linear infinite;
}

#featured-projects {
	background-color: aqua;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#featured-projects-cards {
	display: flex;
	justify-content: space-around;
}

#skills-overview {
	background-color: brown;
}

@keyframes background {
	to {
		--spin: 360deg;
	}
}
@keyframes button_rainbow {
	to {
		--spin: 360deg;
	}
}
